<div class="container">
  <div class="row mb-3">
    <div class="col-8">
      <h4>{{ user.name }}'s Tasks</h4>
    </div>
    <div class="col-4">
      <button class="menu-button" (click)="addTask()">Add Task</button>
    </div>
  </div>
  <div class="row">
    @if (tasks.length !== 0) { @for (task of tasks; track task.id) {
    <div class="col-12">
      <article class="mb-2">
        <h5>{{ task.title }}</h5>
        <time>{{ task.dueDate | date : "fullDate" }}</time>
        <p>{{ task.summary }}</p>
        <p class="actions">
          <button (click)="completeTask(task)">Complete</button>
        </p>
      </article>
    </div>
    } } @else {
    <div class="col-12">
      <p>No tasks available.</p>
    </div>

    }
  </div>

  @if (isAddTask) {
  <app-new-task (closeDialog)="onCloseDialog()"></app-new-task>
  }
</div>
