li {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  background-color: #433352;
  color: #c3b3d1;
  border: none;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  text-align: left;
}

li:hover {
  background-color: #bf9ee5; /* Example custom styling */
  color: #495057;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

img {
  width: 2.8rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.custom-active-class {
  background-color: #bf9ee5; /* Example custom styling */
  color: #495057;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
