<div class="container">
  <form [formGroup]="UserRegistrationForm" class="row g-3">
    <div class="col-md-4">
      <label for="firstName" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        (change)="setFullName(UserRegistrationForm.controls['firstName'].value)"
      />
      @if (!isControlValid('firstName')) {
      <div class="errorMessage">First Name is required</div>
      }
    </div>
    <div class="col-md-4">
      <label for="middleName" class="form-label">Middle name</label>
      <input
        type="text"
        class="form-control"
        id="middleName"
        formControlName="middleName"
        (change)="
          setFullName(UserRegistrationForm.controls['middleName'].value)
        "
      />
      @if (!isControlValid('middleName')) {
      <div class="errorMessage">Middle Name is required</div>
      }
    </div>
    <div class="col-md-4">
      <label for="lastName" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        (change)="setFullName(UserRegistrationForm.controls['lastName'].value)"
      />
      @if (!isControlValid('lastName')) {
      <div class="errorMessage">Last Name is required</div>
      }
    </div>
    <div class="col-md-4">
      <label for="fullName" class="form-label">Full name</label>
      <input
        type="text"
        class="form-control"
        id="fullName"
        formControlName="fullName"
      />
    </div>
    <div class="col-md-4">
      <label for="userName" class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
        <input
          type="text"
          class="form-control"
          id="userName"
          formControlName="userName"
          aria-describedby="inputGroupPrepend2"
        />
      </div>
      @if (!isControlValid('userName')) {
      <div class="errorMessage">In-valid Username</div>
      }
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        id="city"
        formControlName="city"
        (change)="getPinCode()"
      />
      @if (!isControlValid('city')) {
      <div class="errorMessage">City is required</div>
      }
    </div>
    <div class="col-md-3">
      <label for="state" class="form-label">State</label>
      <select class="form-select" id="state" formControlName="state" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="zip" class="form-label">Zip</label>
      <input
        type="text"
        class="form-control"
        id="zip"
        formControlName="zip"
        required
      />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="terms"
          formControlName="terms"
          required
        />
        <label class="form-check-label" for="terms">
          Agree to terms and conditions
        </label>
        @if (!isControlValid('terms')) {
        <div class="errorMessage">Please accept the terms and conditions.</div>
        }
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="registerUser()">
        Submit form
      </button>
    </div>
  </form>
</div>
